---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Sobre la pagina">
<h1>Sobre la página</h1>
<p>
    Esta página está hecha para guardar todos los archivos creados en este curso y los siguientes. Un portfolio personal
</p>
</Layout>